<!--templates/home.html-->
{% extends 'base.html' %}
{% block content %}

<a href="{% url "add_listing" %}">Ajout Listing</a>
<h3 class="mt-2">Derniers Listings</h3>
<div class="col-md-8 mt-3">    
    {% for listing in listings %}
    <div class="card">   
      <div class="card-body">


      <blockquote class="blockquote mb-0">
        <p>{{listing.title}}<small><a href="{{listing.get_absolute_url}}" >&nbsp;Voir les détails &rarr;</a></small></p>
        <footer class="blockquote-footer"><small>Publié le {{listing.created_at|date:"M d, Y"}} par
            <a href="#">{{listing.created_by.name}}</a> dans <a href="">{{listing.category}}</a></small></footer>
      </blockquote>
    </div>
    {% endfor %}
</div>
{% endblock %}